<section class="h-100 w-100 p-3 overflow-auto">
    <div class=" row container  justify-content-center mx-0">
        <div class="col-sm-12 col-md-12 col-lg-6  ">
            <figure class=" overflow-hidden main-image">
                <img src="../../../assets/image/studio-details.png">
            </figure>
            <div class="  d-flex justify-content-between ">
                <figure class="image-wrapper ">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <h2 class="mb-4"><span class="fw-bold">CREATIVE SPACE</span><span class="studio-text"> STUDIO </span></h2>
            <div class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reprehenderit nobis eos
                tenetur.Tempore, necessitatibus explicabo odio deserunt laboriosam error.
            </div>

            <div class="row ms-1">
                <div class="d-flex  col-sm-12 col-md-12 col-lg-6 mb-4 border  p-2 ">
                    <div class=" fs-3 me-3"><span class="bi bi-calendar2-week"></span></div>
                    <div class="">
                        <div>OPEN FROM</div>
                        <div class="fw-semibold">Monday - Saturday</div>
                    </div>
                </div>
                <div class="d-flex  col-sm-12 col-md-12 col-lg-6 mb-4 border p-2">
                    <div class="fs-3 me-3"><span class="bi bi-clock"></span></div>
                    <div class="">
                        <div>TIMING</div>
                        <div class="fw-semibold">10am - 6pm</div>
                    </div>
                </div>
                <div class="d-flex   col-sm-12 col-md-12 col-lg-12 mb-4 border p-2">
                    <div class="fs-3 me-3"><span class="bi bi-geo-alt"></span></div>
                    <div class="">
                        <div>ADDRESS</div>
                        <div class="fw-semibold">2972 Westheimer Rd, Santa Ana, Illinois 85486 Bangaluru , Karnataka</div>
                    </div>
                </div>
                <div class="d-flex   col-sm-12 col-md-12 col-lg-12 mb-4 border p-2">
                    <div class="fs-3 me-3"><span class="bi bi-currency-rupee"></span></div>
                    <div>
                        <div class="mb-2">PRICES</div>
                        <div class="p-2">
                            <span class="me-4 fw-semibold">Jam: <span class="text-primary bg-secondary p-2">3000 Rs/Day</span> </span>
                            <span class="me-4 fw-semibold">Record: <span class="text-primary bg-secondary p-2">4000 Rs/Day
                                </span></span>
                            <span class="fw-semibold">Mix & Master: <span class="text-primary bg-secondary p-2">5000 Rs/Day</span></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex   col-sm-12 col-md-12 col-lg-12 mb-4 border p-2">
                    <div class="fs-3 me-3"><span class="bi bi-wrench-adjustable"></span></div>
                    <div>
                        <div class="mb-2">HARDWARE & EQUIPMENTS</div>
                        <div class="p-4">
                            <span class="m-3 px-3  bg-secondary">MicroPhones</span>
                            <span class="m-3 px-3  bg-secondary">1000 Watt AKG 214 Condenser Mic</span>
                            <span class="m-3 px-3  bg-secondary ">Ride-Amp</span>
                            <span class="m-3 px-3  bg-secondary ">MCA-Sp1-Condenser-Mic</span>
                            <span class="m-3 px-3  bg-secondary">Amps</span>
                            <span class="m-3 px-3  bg-secondary">2-CrashBlackstar-Guiter</span>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-end p-0">
                    <button class=" btn  btn-lg btn-color ">Book Now</button>
                </div>



            </div>

        </div>
    </div>
</section>