<div class="h-100 w-100 d-flex flex-column align-items-center mt-3">
    <div>
        <span class="fs-4"> Studios </span><span class="fs-4">| </span><span class="fs-4"> Artist </span>
    </div>
    <div class="d-flex">
        <span class="m-1 d-flex align-items-center text-dark">Filter By :</span>
        <span class="m-1">
            <select class="form-select" id="select">
                <option class="dropdown-item" disabled selected> studio-type
                </option>
                <option class="dropdown-item" value="valsad">hall</option>
                <option class="dropdown-item" value="mumbai">room</option>
                <option class="dropdown-item" value="agra">recording</option>
            </select>
        </span>
        <span class="m-1">
            <select class="form-select" id="select" (change)="populateCity($event)" [(ngModel)]="selectedState">
                <!-- <option class="dropdown-item" disabled selected> State
                </option>
                <option class="dropdown-item" value="valsad">gujarat</option>
                <option class="dropdown-item" value="mumbai">maharastra</option>
                <option class="dropdown-item" value="agra">up</option> -->
                <option value="" disabled>Select state</option>
                <option *ngFor="let  data of State" [value]="data.id">{{data.name}}</option>

            </select>
        </span>
        <span class="m-1">
            <select class="form-select" id="select" [(ngModel)]="selectedCity">
                <!-- <option class="dropdown-item" disabled selected>city
                </option>
                <option class="dropdown-item" value="valsad">valsad</option>
                <option class="dropdown-item" value="mumbai">mumbai</option>
                <option class="dropdown-item" value="agra">agra</option>
                <option class="dropdown-item" value="agra">vapi</option>
                <option class="dropdown-item" value="agra">pune</option> -->

                <option value=""> Select City</option>
                <option *ngFor="let citydata of dropdownCity" [value]="citydata.id">{{citydata.name}}</option>

            </select>
            <!-- <select [(ngModel)]="selectedCity" class="form-select">
                <option value="">Select City</option>
                <option *ngFor="let c of dropdownCity" [value]="c.id">{{c.name}}</option>
            </select> -->
        </span>
    </div>
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->

    <!-- <div *ngFor="let data  of artistinfo" class="">
        <div>{{data.name}}</div>
    </div> -->

    <!-- <div>
        <div class="container">
            <div class="text-center"> -->
    <!-- <h1>Angular 2 - Pagination Example with logic like Google</h1> -->

    <!-- items being paged -->
    <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->

    <!-- pager -->
    <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                        <a (click)="setPage(1)" class="page-link">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                        class="page-item">
                        <a (click)="setPage(page)" class="page-link">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
                    </li>
                </ul> -->
    <!-- </div> -->
    <!-- </div> -->
    <hr />
    <!-- <div class="credits text-center">
            <p>
                <a href="http://jasonwatmore.com/post/2016/08/23/angular-2-pagination-example-with-logic-like-google"
                    target="_top">Angular 2 - Pagination Example with logic like Google</a>
            </p>
            <p>
                <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
            </p>
        </div> -->
    <!-- </div> -->

    <!-- for infinite scroll -->

    <ul infiniteScroll [infiniteScrollDistance]="0.1" (scrolled)="onScroll()">

        <li *ngFor="let post of posts">
            {{post}}
        </li>

    </ul>

    <p>Loading...</p>
</div>