<div class="container mt-5 p-3 border">
    <table class="table ">
        <thead>
            <th class="tableHead">Name</th>
            <th class="tableHead">Gender</th>
            <th class="tableHead">DOB</th>
            <th class="tableHead">Salary</th>
            <th class="tableHead">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let employeeData of employeeList">
                <td>{{employeeData.name | titlecase}}</td>
                <td>{{employeeData.gender | uppercase}}</td>
                <td>{{employeeData.DOB | date:'MMMM d, y'}}</td>
                <td>{{employeeData.salary | custompipe}}</td>
                <td><button class=" btn btn-success me-2" (click)="employeeDetail(employeeData.id)">Details</button>
                    <button class=" btn btn-primary me-2" (click)="EditEmployee(employeeData.id)">Edit</button>
                    <button class=" btn btn-danger" (click)="DeleteEmployee(employeeData.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>