<section class="h-100 w-100 background-image">
    <div class="h-100 w-100 row align-items-center justify-content-center ">
       
        <div class="col-lg-6 col-md-12 d-flex justify-content-center ali ">
            <figure>
                <img src="../../../assets/image/1Rhythm_logo.png">
            </figure>
        </div>
        <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center ">
            <form class="form-wrapper bg-light g-3  p-4 overflow-auto" [formGroup]="registerForm" (ngSubmit)="registerData()">
                <h2>Create Your Accounts</h2>
                <span class=" mb-4">Already have an account <a [routerLink]="['../login']"> Sign In</a></span>
                <div class=" profile-wrapper py-3 ">
                    <div class="position-relative">
                        <img src="../../../assets/image/profile.jpg" class="">
                        <span class=" position-absolute icon-wrapper "><span
                                class="bi bi-plus-lg fs-3 icon-bg "></span></span>
                    </div>
                </div>
                <div class="row ">
                    <div class=" mb-4 col-sm-12 col-md-6 col-lg-6">
                        <label for="validationServer01" class="form-label fw-bold">FirstName<span
                                class="text-danger">*</span></label>
                        <input type="text" placeholder="First Name" id="validationServer01" class="form-control"
                            formControlName="firstname"
                            [ngClass]="{'is-valid': registerFormControl['firstname'].valid, 'is-invalid': registerFormControl['firstname'].invalid && registerFormControl['firstname'].touched }">

                        <div
                            *ngIf="registerFormControl['firstname'].invalid && (isSubmitted || (registerFormControl['firstname'].touched || registerFormControl['firstname'].dirty) )">
                            <span class="text-danger"
                                *ngIf="registerFormControl['firstname'].errors?.['required']">Please
                                Enter your
                                firstname
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl['firstname'].errors?.['pattern']">Only
                                alphabets are
                                allowed to be return
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['firstname'].errors?.['minlength']">Minimum
                                3 characters
                                are allowed
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['firstname'].errors?.['maxlength']">Maximum
                                25 characters
                                are allowed
                            </span>

                        </div>
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6 col-lg-6">
                        <label for="validationServer04" class="form-label fw-bold">LastName<span
                                class="text-danger">*</span></label>
                        <input type="text" placeholder="Last Name" id="validationServer04" class="form-control"
                            formControlName="lastname"
                            [ngClass]="{'is-valid': registerFormControl['lastname'].valid, 'is-invalid': registerFormControl['lastname'].invalid && registerFormControl['firstname'].touched }">
                        <div
                            *ngIf="registerFormControl['lastname'].invalid && (isSubmitted || (registerFormControl['lastname'].touched || registerFormControl['lastname'].dirty) )">
                            <span class="text-danger"
                                *ngIf="registerFormControl['lastname'].errors?.['required']">Please
                                Enter your
                                lastname
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl['lastname'].errors?.['pattern']">Only
                                alphabets are
                                allowed to be return
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['lastname'].errors?.['minlength']">Minimum
                                3 characters
                                are allowed
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl['lastname'].errors?.['maxlength']">Maximum
                                25 characters
                                are allowed
                            </span>


                        </div>
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6 col-lg-6">
                        <label for="validationServer02" class="form-label fw-bold">Email Address<span
                                class="text-danger">*</span></label>
                        <input type="text" placeholder="Email ID" id="validationServer02" class="form-control"
                            formControlName="email">

                    </div>
                    <div class="mb-4 col-sm-12 col-md-6 col-lg-6">
                        <label for="validationServer05" class="form-label fw-bold">Password<span
                                class="text-danger">*</span></label>
                        <input type="text" placeholder="Password" id="validationServer05" class="form-control"
                            formControlName="password">
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6 col-lg -6">
                        <label for="validationServer03" class="form-label fw-bold">Phone Number<span
                                class="text-danger">*</span></label>
                        <input type="text" placeholder="enter mobile number" id="validationServer03"
                            class="form-control" formControlName="Phone number">
                    </div>
                    <div class="d-flex flex-column mb-4 col-sm-12 col-md-6 col-lg-6">
                        <div><label for="validationServer03" class="form-label fw-bold me-4">Select user-Type<span
                                    class="text-danger">*</span></label></div>
                        <div class="dropdown">
                            <select class="form-select" id="select" >
                                <option value="" class="dropdown-item" disabled selected>Select User Type
                                </option>
                                <option value="" class="dropdown-item" value="Studio-owner">Studio-owner</option>
                                <option value="" class="dropdown-item" value="artist">Artist</option>
                                <option value="" class="dropdown-item" value="general">General</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-4 col-sm-12 col-md-6 col-lg-6">
                        <div class=""><label for="validationServer03" class="form-label fw-bold me-4">Select Country</label></div>
                        <div class="dropdown">
                            <select class="form-select" id="select" >
                                <option value="" class="dropdown-item " disabled selected>select-country
                                </option>
                                <option value="" class="dropdown-item" value="Studio-owner">India</option>
                                <option value="" class="dropdown-item" value="artist">Australia</option>
                                <option value="" class="dropdown-item" value="general">USA</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex  mb-4 col-sm-12 col-md-6 col-lg-6">
                        <div class="d-flex flex-column w-100">
                            <label for="validationServer05" class="form-label fw-bold ">Select State<span
                                    class="text-danger">*</span></label>
                            <div class="dropdown me-4">
                                <select class="form-select" id="select" >
                                    <option value="" class="dropdown-item " disabled selected>Select State
                                    </option>
                                    <option value="" class="dropdown-item" value="gujarat">Gujarat</option>
                                    <option value="" class="dropdown-item" value="maharastra">maharastra</option>
                                    <option value="" class="dropdown-item" value="up">up</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <label for="validationServer05" class="form-label fw-bold   ">Select City <span
                                    class="text-danger">*</span></label>
                            <div class="dropdown">
                                <select class="form-select" id="select" >
                                    <option value="" class="dropdown-item" disabled selected>Select City
                                    </option>
                                    <option value="" class="dropdown-item" value="valsad">valsad</option>
                                    <option value="" class="dropdown-item" value="mumbai">mumbai</option>
                                    <option value="" class="dropdown-item" value="agra">agra</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="w-100 mt-3">
                    <button class=" btn-color px-5 py-2  border-0 cursor-pointer" type="submit">Submit</button>
                </div>
            </form>

        </div>

    </div>
</section>