.main-image{
    img{
        width: 100%;
        overflow: hidden;
    }
}

.image-wrapper{
    img{
    height: 151px;
    width: 131px;
    border-radius: 4px;
    overflow: hidden;
    }
}

.studio-text{
    color: rgb(35, 237, 203)
}