.main-image {
    img {
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

.image-wrapper {
 .img_preview{
    object-fit: cover;
    cursor: pointer;
   
 }
}

.role-name {
    font-size: $carousel-font-size;
    background: -webkit-linear-gradient(right, #2D6DD5, #35B5C8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3.5px transparent;
    color: #ffff;
}



.heading-text {
    color: $heading-text;
}

.description-text {
    color: $description-text;
}

.detail-text {
    color: $deatil-text
}

.text-bg-color {
    background-color: $text-bg-color;
}

.main-heading-text {
    color: $font-weight-bold
}

.text-wrapper {
    display: inline-block;
    color: $deatil-text;
    background-color: $text-bg-color;
}

.uploadImage {
    background-color: rgba(44, 97, 215, 0.04);
    min-height: 300px;

    img {
        height: auto;
        width: 100%;
    }
}