<div class="h-100 w-100 d-flex justify-content-center align-items-center bg-img">
    <div class="d-flex flex-column justify-content-center  shadow p-2 reset-page">
        <div class="w-100">
            <h1 class="text-center text ">Reset Page</h1>
        </div>
        <form class="row g-3" [formGroup]="resetForm">
            <div class="form-group">
                <label for="">Old Password</label>
                <input formControlName="oldpassword" type="text" class="form-control">
                <!-- <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">
                old Password is required.
            </div>
        
        </div> -->
            </div>
            <div class="form-group">
                <label for="">New Password</label>
                <input formControlName="newpassword" type="text" class="form-control">
                <!-- <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
            <div *ngIf="newPassword.errors.required">
                New Password is required.
            </div>
        </div> -->
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input formControlName="confirmpassword" type="text" class="form-control">
            </div>
            <!-- <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">
            Confirm Password is required.
        </div>
        <div *ngIf="resetForm.invalid && .errors.passwordShouldMatch" class="alert alert-danger">
            Passwords do not match
        </div>
    </div> -->
            <div class="text-center">
                <button class="btn btn-primary mt-2 " [routerLink]="['../login']">Change Password</button>
            </div>
        </form>
    </div>
</div>