<div>
<div class="card col-sm-12 col-md-6 col-lg-6 d-flex justify-content-between" style="width: 18rem;">
    <div class="p-3 bg-light ">
        <img src="{{artistData.img}}" class="card-img-top image-wrap w-100" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{artistData.eventLocation}}</h5>
            <p class="text-truncate">{{artistData.eventDescription}}</p>
            <a href="#" class="btn btn-primary w-100 text-center" disabled="true">Details</a>
        </div>
    </div>
</div>

<div class="card col-sm-12 col-md-6 col-lg-6 d-flex justify-content-between" style="width: 18rem;">
    <div class="p-3 bg-light ">
        <img src="{{studioData.img}}" class="card-img-top image-wrap w-100" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{studioData.eventLocation}}</h5>
            <p class="text-truncate">{{studioData.eventDescription}}</p>
            <a href="#" class="btn btn-primary w-100 text-center" disabled="true">Details</a>
        </div>
    </div>
</div>
