<div class="h-100 w-100 d-flex flex-column align-items-center mt-3 px-5 overflow-auto"  infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="0"
[scrollWindow]="false" (scrolled)=" onScrolllist()" style="height: 700px; overflow-y: scroll;">

    <div>
        <span class="fs-4"> Studios </span><span class="fs-4">|</span><span class="fs-4"> Artist </span>
    </div>
    <div class="d-flex">
        <span class="m-1 d-flex align-items-center text-dark">Filter By :</span>
        <span class="m-1">
            <select class="form-select" id="select">
                <option class="dropdown-item" disabled selected> studio-type
                </option>
                <option class="dropdown-item" value="valsad">hall</option>
                <option class="dropdown-item" value="mumbai">room</option>
                <option class="dropdown-item" value="agra">recording</option>
            </select>
        </span>
        <span class="m-1">
            <select class="form-select" id="select" (change)="populateCity($event)">
                <option value="" selected>Select state</option>
                <option *ngFor="let  data of Statename" [value]="data.id">{{data.state}}</option>
            </select>
        </span>
        <span class="m-1">
            <select class="form-select" id="select">
                <option value="" selected> Select City</option>
                <option *ngFor="let citydata of dropdownCity" [value]="citydata.id">{{citydata.city}}</option>
            </select>

        </span>
    </div>


    <!-- to city the studiolist from data-base -->
    <!-- <div class="container">
        <ul class="d-flex justify-content-between">
            <li *ngFor="let  data of imageData[0]">
                <img src="{{data}}" alt="logo">
            </li>
        </ul>
    </div> -->

    <div class=" bg-white pt-2  gx-0">
        <div class="  ">
            <div class=" d-flex justify-content-between align-items-center pb-4">
                <span class="fs-2 fw-medium text-nowrap  ">Explore Studio</span>
                <span class="text-primary fw-semibold text-nowrap fs-6 ">SEE ALL</span>
            </div>
            <div class="row justify-content-between">
                <div class="mt-4 col-xxl-2 col-xl-3 col-md-4 col-sm-6 col-xs-12 cards "
                    *ngFor="let userdata of studioData">
                    <app-card [cardData]="userdata"></app-card>
                </div>
            </div>
        </div>

    </div>


</div>