<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div class="profile-wrap w-100">
        <img src="{{lastFiveData.img}}">
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class=" w-100 px-5 ">
  <!-- for carosuel part -->
  <div class="row">
    <div class=" col-md-12">
      <!-- <h2 class="pb-2">Past Events</h2> -->
      <ngb-carousel class="" [interval]="7000">
        <ng-template ngbSlide *ngFor="let event of mergeImage" class="border rounded rounded-pill">

          <img src="{{event.img}}" alt="Random slide" class=" w-100" style="height: 400px;">
          <div class="carousel-caption ">
            <div class="d-flex ">
              <h3>{{ event.eventLocation }} </h3>
            </div>
            <div class="d-flex ">
              <p [innerText]="event.eventDescription"></p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>

  <!-- for studio section -->
  <div class="w-100 row d-flex  justify-content-between mt-4 gx-0">
    <div class="w-100 d-flex justify-content-between">
      <span class="fw-bold fs-4 p-2 d-flex align-item-center">Explore Studio</span>
      <span><a href="" class="fs-4 me-1 p-2 d-flex align-item-center">See All</a></span>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6 " style="width: 18rem;" *ngFor="let event of artisFiveData">
      <div class="p-3 bg-light ">
        <img src="{{event.img}}" class="card-img-top image-wrap w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ event.eventLocation }}</h5>
          <p class="text-truncate">{{event.eventDescription}}</p>
          <a href="#" class="btn btn-primary w-100 text-center">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <!-- for artist section  -->
  <div class="w-100 row justify-content-between mt-4 gx-0">
    <div class="w-100 d-flex justify-content-between">
      <span class="fw-bold fs-4 p-2 d-flex align-item-center">Explore Artists</span>
      <span><a href="" class="fs-4 p-2 me-1 d-flex align-item-center">See All</a></span>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6" style="width: 18rem;" *ngFor="let event of artisFiveData">
      <div class="p-3 bg-light ">
        <img src="{{event.img}}" class="card-img-top image-wrap w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ event.eventLocation }}</h5>
          <p class="text-truncate">{{event.eventDescription}}</p>
          <a href="#" class="btn btn-primary w-100 text-center">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>