<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

      <li class="nav-item list-unstyled" ngbDropdown display="dynamic" placement="bottom-end">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          <div class="profile-wrap me-2">
            <img src="{{studio.img}}" alt="no-profile">
          </div>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu mx-2">
          <a href="#" class="d-flex justify-content-around">
            <!-- for toggle  -->
            <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
            <div class="form-check form-switch">

              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
          </a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class=" w-100 px-4">
  for carosuel part
  <div class="row">
    <div class=" col-md-12">
      <h2 class="pb-2">Past Events</h2>
      <ngb-carousel class="" [interval]="7000">
        <ng-template ngbSlide *ngFor="let event of mergeImage" class="border rounded rounded-pill">

          <img src="{{event.img}}" alt="Random slide" class=" w-100" style="height: 400px;">
          <div class="carousel-caption ">
            <div class="d-flex ">
              <h3>{{ event.eventLocation }} </h3>
            </div>
            <div class="d-flex ">
              <p [innerText]="event.eventDescription"></p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>
</div>

<div class="d-flex  w-100 gx-0 ">
  <!-- for studio section -->
  <div class="d-flex mt-4 gx-0 w-100   justify-content-around " *ngFor="let data of artistFiveData">
    <!-- <img src="{{data.image}}"> -->
    <app-card [cardData]="data"></app-card>
  </div>

  <!-- for artist section  -->
  <!-- <div class="mt-4 d-flex gx-0" *ngFor="let userdata of carousellatestData"> -->
  <!-- <app-card [Data]="userdata"></app-card> -->
</div>
<!-- </div> -->

<div class="d-flex  w-100 gx-0">

  <!-- for artist section   -->
  <div class="mt-4 d-flex justify-content-around  w-100 gx-0" *ngFor="let userdata of carousellatestData">
    <app-card [cardData]="userdata"></app-card>
  </div>
</div>