<nav class="navbar navbar-expand-lg  bg-dark w-100 ">
    <h2 class="moviebox fw-bold me-5 ">moviebox</h2>
    <div class="d-flex justify-content-between align-items-center mb-0 w-100">
        <div class=" ">
            <ul class="d-flex justify-content-between align-items-center mb-0 fs-5">
                <li>Overview</li>
                <li class="active">Movies</li>
                <li>Reporting</li>
                <li>Users</li>
            </ul>
        </div>
        <div class="header-right me-5">
            <img  src="../../../assets/Images/Settings.png" alt="images" class="me-3 fs-1">
            <img  src="../../../assets/Images/Bell.png" alt="images" class="me-3 fs-1">
            <img src="../../../assets/Images/Movie Image.png" alt="image"
                                style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
        </div>
    </div>
</nav>
